body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 550px;
    max-width: 1980px;
    padding: 16px 16px 100px 16px;
    align-items: center;
    background-color: #002E33;
    background-size: cover;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width:100%;
    max-width: 1200px;
    padding: 10px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #ffffffff;
}

.name {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    background-color: transparent;
    overflow: visible;
}

.navbar > button, .welcome-b1, .welcome-b2{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    min-height: 56px;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    background-color: #A3DC2F;
    border-radius: 100px;
    border-color: transparent;
}

.navbar > a {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    overflow: visible;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffffff;
    background-color: transparent;
}

.links {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1500;
    width: 100%;
    height:auto;
    padding: 10px;
    justify-content: space-between;
    align-items: stretch;
    background-color: transparent;
}

.welcome {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #ffffffff;
}

.heading > p {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    overflow: visible;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
}

.welcome img {
    position: relative;
    display: block;
    width: 100%px;
    height: 600px;
    min-height: 100%;
    object-fit: cover;
}

.welcome-t > p {
    position: relative;
    display:block;
    width: fit-content;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    overflow: visible;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px;

}
.welcome-b {
    position: relative;
    display:  flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 10px;
}

.welcome-b2 {
    color: #ffffffff;
    border: 1px solid #ffffffff !important;
    background-color: transparent !important;
}

.welcome-stat {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: visible;
    padding-top: 100px;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 50px;
}

.members, .trainers, .rating {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 165px;
    overflow: visible;
    background-color: transparent;

}
.welcome-n {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    min-height: 10px;
    min-width: 16px;
    padding-bottom: 10px;
    font-size: 38px;
    line-height: 48px;
}

.welcome-st {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

}

::-webkit-scrollbar {
    width: 1px;

}
::-webkit-scrollbar-track {
    background: #002E33;
}

::-webkit-scrollbar-thumb {
    background: #002E33;
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: auto;
    max-width: 1980px;
    overflow: visible;
}

.discover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    max-width: 1232px;
    padding: 100px 16px 100px 16px;
    background-color: transparent;
}

.discover-m > p {
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    max-width: 550px;
    overflow: visible;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.discover-t > p {
    position: relative;
    display: block;
    width: 100%;
    min-width: 16px;
    max-width: 330px;
    height: fit-content;
    min-height: 10px;
    overflow: visible;
    padding-bottom: 60px;
    text-align: center;
    font-size: xx-small;
}

.offers {
    position: relative;
    display: flex;
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    overflow: visible;
    justify-content: center;
}

.features {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-height: 100px;
    max-width: 150px;
    padding: 10px 15px 25px 15px;
    overflow: visible;
}

h6 {
    font-size: x-small;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.features > p, .testimonial-t > p {
    font-size: xx-small;
    padding-bottom: 10px;
    margin: 0;
}

.workouts, .nutrition, .trainers-1 {
    background-color: #002E33;
    color: #ffffffff;
    border: thin solid #ffffffff;
}

.schedules {
    background-color: #A3DC2F;
}

.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1980px;
    padding-bottom: 50px;
    background-color: transparent;

}

.testimonial-head {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 1232px;
    padding: 20px 16px 50px 100px;
}

.testimonial-h {
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    min-width: 16px;
    min-height: 10px;
    max-width: 250px;
    padding-bottom: 20px;
}

